<div class="container">
  <section class="profile-information">
    <div class="profile-information-user">
      <figure>
      <img src="assets/images/user-icon.png" alt="">
      <figcaption>
        <h1>Kayky Costa</h1>
      </figcaption>
    </figure>
    <h2>São Paulo, Brazil</h2>
    <p>"Frontend developer and avid reader"</p>
    </div>
    <div class="profile-information-links">
        <a href="https://github.com/KaykyADS" aria-label="Kayky Costa's GitHub" target="_blank">GitHub</a>
        <a href="https://youtu.be/ECt6xk3eEbU?t=13" aria-label="Kayky Costa's Steven Universe" target="_blank">Frontend Mentor</a>
        <a href="https://www.linkedin.com/in/kayky-costa-1367ab1a3/" aria-label="Kayky Costa's LinkedIn" target="_blank">LinkedIn</a>
        <a href="https://x.com/Costa_kkayky" aria-label="Kayky Costa's Twitter" target="_blank">Twitter</a>
        <a href="https://www.instagram.com/costakkayky/" aria-label="Kayky Costa's Instagram" target="_blank">Instagram</a>
    </div>
  </section>
</div>
